body {
background-image: url("https://images.pexels.com/photos/2941017/pexels-photo-2941017.jpeg?cs=srgb&dl=aerial-photography-aerial-shot-aerial-view-2941017.jpg&fm=jpg")
}



#main-block {
    min-height: 550px;
    min-width: 700px;
    background-color: #c7ecee;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: absolute;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
h1 {
    font-size: 100px;
    text-align: center;
}

#show-number {
     color: rgb(3, 79, 85);
    float: right;
}

#start {
    position: absolute;
    bottom:20%;
}


