body {
background-image: url("https://images.pexels.com/photos/2941017/pexels-photo-2941017.jpeg?cs=srgb&dl=aerial-photography-aerial-shot-aerial-view-2941017.jpg&fm=jpg")
}


#main-block {
    min-height: 550px;
    min-width: 700px;
    background-color: #c7ecee;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h1 {
    font-size: 120px;
    color: #fffdf8;
    text-align: center;
}

#show-number {
     color: black;
     justify-content: center;
}


